<form #f="ngForm" style="margin-top: 3em;">
  <fieldset>
    <div *ngFor="let question of questions">
      <div class="card card-block">
        <div class="card-header bg-info">
          <h3>{{ question.text }}</h3>
        </div>
        <div class="card-body">
          <div *ngFor="let answer of question.answers" class="form-check" style="margin-bottom: 5px;">
            <input class="form-check-input" type="radio" name="{{ question.id }}" value="{{ answer.id }}" id="{{ answer.id }}" ngModel>
            <label class="form-check-label h5" for="{{ answer.id }}">
              {{ answer.text }}
            </label>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="float-right">
          <input name="btn_next" id="btn_next" style="margin-top: 1em;" class="btn btn-info" type="button" (click)="showValues()" value="SEND">
        </span>
      </div>
    </div>
  </fieldset>
</form>