<div class="bg-info" style="margin-top: 50px;">
  <a routerLink="">
    <div style="text-align:center">
      <h1 id="h1_quiz">
        Kohlmeisen {{ title }}
      </h1>
    </div>
    ng build --prod
    <br> ng build --base-href=/~slukic/dist/
  </a>
</div>

<div class="card-deck-wrapper" style="margin-top: 3em;">
  <div class="card-deck">
    <div class="card" *ngFor="let quiz of quizzes">
      <a routerLink="quiz" class="btn btn-fix text-left">
        <img class="card-img-bottom" width="422px" height="318px" src="assets/img/heman.jpg" alt="He-man">
        <div class="card-block ">
          <h4 class="card-title text-dark text-center" style="margin-top: 1em;">{{ quiz.name }}</h4>
          <p class="card-text text-dark "> --- DESCRIPTION --- </p>
          <p class="card-text ">
            <small class="text-muted"> ---- LAST-UPDATED ---- </small>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>