@import "~bootstrap/dist/css/bootstrap.css";

#h1_quiz {
    font-size: 4em;
    font-family: 'Lucida Sans';
    color: white;
}

.btn-fix {
    padding: 0;
    border: none;
    white-space: normal;
}

.bg-info {
    border-radius: 10px;
}

.bg-info a:hover {
    color: white;
}